{{head-layout}}
<!-- {{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <button {{action burger.state.actions.close}}>Close</button>

    <nav>
      {{#link-to "create"}}
      New Event
      {{/link-to}}



      {{#link-to "index"}}
        <br>All Events<br>

      {{/link-to}}



      {{#link-to "map"}}
        Map View <br>
      {{/link-to}}

      {{#link-to "about" }}
      About <br>
      {{/link-to}}
    </nav>
  {{/burger.menu}}

  {{#burger.outlet}}
    <button {{action burger.state.actions.toggle}}>Menu</button>
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}} -->




 <img width="5%" height="5%" src="https://image.flaticon.com/icons/svg/1272/1272732.svg">
<nav>
<br>
  {{#link-to "create"}}
  New Event
  {{/link-to}}



  {{#link-to "index"}}
    <br>All Events<br>
  {{/link-to}}



  {{#link-to "map"}}
    Map View <br>
  {{/link-to}}

  {{#link-to "about" }}
  FAQ <br>
  {{/link-to}}
</nav>

{{liquid-outlet}}
